/* ==========================================================================
   Root Styles
   ========================================================================== */
html {
    height: 100%;
}
body{
    background: $red--dark;
    color: $white;
}
/* ==========================================================================
   Base Styles
   ========================================================================== */
.logo{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    opacity: 0;
}