/* ==========================================================================
   Base Styles
   ========================================================================== */
html {
    height: 100%;
}
body{
    background: $red--dark;
    color: white;
}