/* ==========================================================================
   Root Styles
   ========================================================================== */
html {
    height: 100%;
}
body{
    background: $red--dark;
    color: $white;
    min-height: 100%;
}
/* ==========================================================================
   Base Styles
   ========================================================================== */
.logo{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    opacity: 0;
    @media only screen and (max-width: 480px){
        width: 70%;
    }
}

.navigation{
    margin-top: 2em;
    ul { 
        list-style: none;
        padding: 0;
        margin: 0;
        min-height: 100%;
    }
    li {
        display: inline-block;
    }
    i {
        position: relative;
    }
    a {
        display: inline-block;
        color: $red;
        padding: 0 0.25em;
        font-size: 2.5em;
        text-decoration: none;
        transition: 0.25s all ease;
        &:hover {
            color: $red--bright;
            transform: translateY(-5px);
        }
        &:focus,
        &:active{
            color: $blue;
        }
    }
    img {
        vertical-align: middle;
    }  
}

.btn {
    padding: 1em 1.5em;
    background-color: $red;
    color: $red--dark;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.15s ease;

    &:hover {
        background-color: $red--active;
    }

    &:focus,
    &:active {
        background-color: $red--bright;
        box-shadow: inset 0 4px 1px $red;
    } 
}
