/* ==========================================================================
   Base Colors
   ========================================================================== */
$red: hsl(8, 100%, 35%);
$red--bright: hsl(8, 100%, 50%);
$red--active: lighten($red, 5);

$red--dark: hsl(8, 80%, 22%);
$red--dark--deactive: darken($red--dark, 1%);
$red--dark--active: lighten($red--dark, 1%);

$blue: hsl(188, 100%, 75%);
$blue--deactive: hsl(188, 38%, 70%);
$white: hsl(0, 100%, 100%);
