/* ==========================================================================
   Base Colors
   ========================================================================== */
$red: hsl(8, 100%, 35%);
$red--dark: hsl(8, 71%, 22%);
$red--bright: hsl(8, 100%, 50%);
$red--active: lighten($red, 5);
$blue: hsl(188, 100%, 75%);
$white: hsl(0, 100%, 100%);
