/* ==========================================================================
   Contact Form Styles
   ========================================================================== */

.contact-form {
    width: 100%
    margin: 10% 0;
    margin: 0 auto;
    color: $red;
    position: relative;

    input, 
    textarea {
        background: $red--dark;
        border: 2px solid $red;
        box-shadow: inset 0 0;
        box-sizing: border-box;
        color: $red--active;
        display: none;
        float: left;
        font-size: 2.5em;
        outline: none;
        padding: 0.5em 1em;
        transition: all 0.1s ease;
        width: 100%;

        &:focus,
        &:active {
            border-color: $red--active;
            box-shadow: inset 0.5em 0px $red--active;
        }
        @media only screen and (max-width: 480px){
           font-size: 2em;
           margin: 0;
        }
    }
    textarea {
        resize: none;
        border: none;

        &::-webkit-input-placeholder { 
            color: rgba($red--active, 0.65);
        }
        &::-moz-placeholder { 
            color: rgba($red--active, 0.65);
        }
    }
    label{
        display: none;
        font-size: 3.75em;
        margin: 0.37em 0;

        @media only screen and (max-width: 480px){
           font-size: 3em;
        }
    }

    // Contact form validation  
    &.ng-dirty.ng-invalid input,
    &.ng-dirty.ng-invalid textarea{
        border-color: lighten($red, 20%);

        &:focus,
        &:active {
            box-shadow: inset 0.5em 0px lighten($red--active, 5%);
        }

    }
    &.ng-invalid .form-button {
        opacity: 0;
    }
    &.ng-valid .form-button{
        opacity: 1;
    }

}
.contact-button{
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}
.form-button{
    background: transparent;
    outline: none;
    color: darken($red, 10%);
    padding: 1.3em;
    position: absolute; 
    right: 0;
    font-size: 1.5em;
    transition: all 0.25s ease,
                opacity 0.5s ease;


    @media only screen and (max-width: 480px){
        padding: 1.3em;
        font-size: 1.25em;
    }
}

.send {
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

footer {
    width: 100%;
    padding: 1.5em 2em;
    position: absolute;
    bottom: 0;
    font-size: 0.75em;
    box-sizing: border-box;

    .navigation {

        a {
            color: darken($red, 5%);

             &:hover {
                color: darken($red--bright, 5%);
            }
            &:focus,
            &:active{
                color: darken($blue, 5%);
            }
        }
    }

    @media only screen and (max-width: 480px){
       display: none;
    }
}

.nav--mobile{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    opacity: 0;

    img {
        width: 2em;
    }

    @media only screen and (max-width: 480px){
       opacity: 1;
    }
}