/* ==========================================================================
   Helpers Styles
   ========================================================================== */
.group {
    margin: 0 auto;
    max-width: 1200px;
    width: 93.75%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.center-to-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}