/* ==========================================================================
   Masthead Styles
   ========================================================================== */
.masthead {
    .navigation {
        text-align: center;
        @media only screen and (max-width: 480px){
            width: 75%;
            margin: 1em auto;
        }
    }
    .fa-fw {
        @media only screen and (max-width: 480px){
            width: 100%;
        }
    }
    .fa {
         @media only screen and (max-width: 480px){
            font-size: 1em;
        }   
    }
    li {
         @media only screen and (max-width: 480px){
           width: 32%;
           margin: 0.5em 0;
        }  
    }
}

.masthead__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}