// Page transitions

.rotate-right{
    transition: all 1s;
    
    &.ng-enter {
        animation: moveFromRightFade .7s ease both;
        background-color: $red--dark--active; 
    }
    
    &.ng-leave {
        animation: moveToRightFade .7s ease both;
        background-color: $red--dark--deactive; 
    }
}


@keyframes moveToRightFade {
    from { }
    to { 
        opacity: 0.3;
        transform: translateX(100%);
    }
}


@keyframes moveFromRightFade {
    from { 
        opacity: 0.3;
        transform: translateX(-100%);
    }
}