/* ==========================================================================
   Base Styles
   ========================================================================== */
html {
    height: 100%;
}
body{
    background: hsl(8, 71%, 22%);
    color: white;
}

/* ==========================================================================
   Helpers Styles
   ========================================================================== */
.group {
    margin: 0 auto;
    max-width: 1200px;
    width: 93.75%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* ==========================================================================
   Custom Styles
   ========================================================================== */
.masthead {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.logo{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.masthead__navigation{
    text-align: center;
}
.masthead__navigation div{
    display: inline-block;
}
.masthead__navigation a{
    display: inline-block;
    color: hsl(8, 100%, 35%);
    padding: 0 0.25em;
    font-size: 2.5em;
    text-decoration: none;
    -webkit-transition: 0.25s all ease;
       -moz-transition: 0.25s all ease;
            transition: 0.25s all ease;
}
.masthead__navigation a:hover {
    color: hsl(8, 100%, 50%);
    -webkit-transform: translateY(-5px);
       -moz-transform: translateY(-5px);
            transform: translateY(-5px);
}
.masthead__navigation a:focus,
.masthead__navigation a:active{
    color: hsl(188, 100%, 75%);
}
.masthead__navigation i {
    position: relative;
    opacity: 0;
}
.js--welcome{
    opacity: 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 40em){
    .logo{
        width: 100%;
    }
}
