<section ng-controller="GreetingController" class="masthead group greeting-animation">
    <div class="masthead__inner">
        <img class="logo" src="images/icons/agclogo.png"/>
        <nav class="masthead__navigation">
            <ul>
                <li>
                    <a href="http://www.github.com/agconti"><i class="fa fa-github fa-fw js--welcome"></i></a>
                </li>
                <li>
                    <a href="http://stackoverflow.com/users/2259303/agconti"><i class="fa fa-stack-overflow fa-fw js--welcome"></i></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/agconti"><i class="fa fa-linkedin fa-fw js--welcome"></i></a>
                </li>
                <li>
                    <a href="http://www.twitter.com/agconti"><i class="fa fa-twitter fa-fw js--welcome"></i></a></li>
                 <li>
                    <a href="http://instagram.com/agconti"><i class="fa fa-instagram fa-fw js--welcome"></i></a>
                </li>
                <li>
                    <a ui-sref="contact" class="contact-button">Contact Me</a>
                </li>
            </ul>
        </nav>
    </div>
</section>