<section class="masthead group center">
    <div class="">
        <img fade-in class="logo" src="images/icons/agclogo.png" alt="agconti logo"/>
        <nav class="navigation">
            <ul slide-children-in>
                <li>
                    <a href="http://www.github.com/agconti"><i class="fa fa-github fa-fw"></i></a>
                </li>
                <li>
                    <a href="http://stackoverflow.com/users/2259303/agconti"><i class="fa fa-stack-overflow fa-fw"></i></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/agconti"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li>
                    <a href="http://www.twitter.com/agconti"><i class="fa fa-twitter fa-fw"></i></a></li>
                 <li>
                    <a href="http://instagram.com/agconti"><i class="fa fa-instagram fa-fw"></i></a>
                </li>
                <li >
                    <a ui-sref="contact.name"><i flicker class="fa fa-envelope"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>